header {
    display: flex;
    padding-inline: 18px;
    padding-block: 8px;
    background-color: rgb(236, 236, 236);
    border-bottom: 2px solid rgb(173, 173, 173);
    color: rgb(36, 36, 36);
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    font-weight: bolder;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    > span{
        cursor: pointer;
        &:hover{
            color:rgb(44, 120, 143)
        }
    }

    ul{
        display: flex;
        list-style:  none;
        gap: 26px;

        li{
            cursor: pointer;
            font-weight:lighter;
            &:hover{
                color:rgb(44, 120, 143)
            }
            font-size: medium;
        }
    }
}