<section class="dashboard-header">
    <div class="titles">
        <h1> Dashboard</h1>
        <h2>Experiment overview</h2>
    </div>
        <button class="add"
        routerLink="/create-experiment">
            +   New Experiment
        </button>
</section>

<section class="experiments-overview">
    <article class="experiment-type">
        <p>Running</p>
        <p class="overview-number">
            {{experimentList() | statusCount: "running"}}
        </p>
    </article>
    <article class="experiment-type">
        <p> Draft</p>
        <p class="overview-number">
            {{experimentList() | statusCount: "draft"}}
        </p>
    </article>
    <article class="experiment-type">
        <p> Completed</p>
        <p class="overview-number">
            {{experimentList() | statusCount: "completed"}}
        </p>
    </article>
</section>

<h2>Performance Metrics</h2>

<h2>Recent Feedback</h2>

<div class="comments-container">
    <article class="comment-tile" *ngFor="let comment of commentList()">
        <h3> {{comment.title}}</h3>
        <p class="comment-text">
            {{comment.text}}            
        </p>
        <p class="comment-text">
            {{ comment.createdAt | date: 'shortDate' }}         
        </p>
    </article>
</div>