<div class="dashboard-header">
    <div class="titles">
        <h1>
            Dashboard
        </h1>
        <h2>
            Experiment overview
        </h2>
    </div>
        <button class="add">
            +   New Experiment
        </button>
</div>

<div class="experiments-overview">
    <div class="experiment-type">
        <p>
            Running
        </p>
        <p class="overview-number">
            <!-- TODO: switch to experiment.running.length:-->
            5
        </p>
    </div>
    <div class="experiment-type">
        <p>
            Draft
        </p>
        <p class="overview-number">
            <!-- TODO: switch to experiment.running.length:-->
            5
        </p>
    </div>
    <div class="experiment-type">
        <p>
            Completed
        </p>
        <p class="overview-number">
            <!-- TODO: switch to experiment.running.length:-->
            5
        </p>
    </div>
</div>