.experiments  {
    &_item{
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

li{
    list-style:  none;
}

.body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;    
    max-width: 1000px;
    padding: 20px;
}

.container{
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    flex-direction: column;
    padding-block: 20px;
    border: 2px solid rgb(199, 202, 202);
}

h1{
    padding-inline: 18px;
    font-size:x-large;
}

.mat-mdc-table {
    border-radius: 12px;          
    overflow: hidden;  
    background: #fff;              
    border: 1px solid #e0e0e0;    
  }

.mat-mdc-row{
    transition: background-color 0.2s ease;
    border-bottom: 1px solid #f0f0f0; 
}

