.container{
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    flex-direction: column;
    padding-block: 20px;
    border: 2px solid rgb(199, 202, 202);
}

.metrics{
    display: flex;
    gap: 20px;
}

.metrics section{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.variants {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1{
    padding-inline: 18px;
    font-size:x-large;
}

h2{
    padding-inline: 18px;
    font-size: medium;
}


p{
    font-size: small;
    margin: 10px;
    margin-inline: 20px;
    color:rgb(68, 69, 69)
}

.input-name {
    background-color: rgb(250, 247, 247);
    border-radius: 10px;
    display: flex;
    margin-inline: 20px;
    padding-block: 10px;
    border: 2px solid rgb(199, 202, 202);
}

.body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;    
    max-width: 1000px;
    padding: 20px;
}


.create-button{
    background-color:rgb(44, 120, 143);
    color:white;
    padding-inline: 28px;
    padding-block: 14px;
    border-radius: 14px;
    width: fit-content;
    margin-left: auto;
    margin-right: 16px;
    border: 0px;
    cursor: pointer;
    &:hover{
        background-color:rgb(31, 84, 100);
    }
}

.main-inputs {
    flex:1;
}